/target
*.swp
tags
.idea
peer_key
stories.json
*.db
peer_name.json
tags.lock
tags.temp
test_errors.log
errors.log
node_description.txt
bootstrap.log
direct_message_config.json
network_config.json
unified_network_config.json
